.continentes{
    width: 300px;
    height: 260px;
    margin: 5px;
    border: solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: ' rgb(0 0 0 / 28%)' ;
}
.ordenn{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}