.imagen{
    background-image: url(https://cdn.govexec.com/media/img/upload/2018/08/17/081718travel.jpg);
    background-repeat: round;
}
.tamañoGif{
    height: 598px;
    width: 1365px;
}
.imagenBudqueda{
    background-image: url(https://cdn.govexec.com/media/img/upload/2018/08/17/081718travel.jpg);
    background-repeat: round;
}